<div *ngIf="cartService.shoppingList.length; else emptyCard">
  <table class="cart-table">
    <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Цена</th>
      <th>Количество</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cartService.shoppingList; let idx = index; trackBy: trackByItems" [product]="product" [index]="idx" app-cart-item></tr>
    </tbody>
  </table>
</div>
<ng-template #emptyCard>
  <p class="cart__empty">
    <span class="cart__empty-title">В корзине нет товаров</span>
    <span></span>
  </p>
</ng-template>
