<div *ngIf="!cartService.isEmptyCart; else emptyCart">
  <table class="cart-table">
    <thead>
    <tr>
      <th><span class="cart-table__column-name">#</span></th>
      <th [class.cart-table__active-column]="sort.key==='name'">
        <div class="cart-table__sort-option">
          <span
            class="cart-table__column-name cart-table__column-name--sort"
            (click)="onToggleSort('name')"
          >Название</span>
          <label class="cart-table__sort-label">
            <input class="cart-table__sort-input" type="checkbox" [(ngModel)]="sort.isAsc" (change)="onToggleSort('name')">
            <span [class.cart-table__sort-label--active]="sort.isAsc">↑</span>
            <span [class.cart-table__sort-label--active]="!sort.isAsc">↓</span>
          </label>
        </div>
      </th>
      <th [class.cart-table__active-column]="sort.key==='price'">
        <div class="cart-table__sort-option">
          <span
            class="cart-table__column-name cart-table__column-name--sort"
            (click)="onToggleSort('price')"
          >Стоимость</span>
          <label class="cart-table__sort-label">
            <input class="cart-table__sort-input" type="checkbox" [(ngModel)]="sort.isAsc" (change)="onToggleSort('price')">
            <span [class.cart-table__sort-label--active]="sort.isAsc">↑</span>
            <span [class.cart-table__sort-label--active]="!sort.isAsc">↓</span>
          </label>
        </div>
      </th>
      <th [class.cart-table__active-column]="sort.key==='quantity'">
        <div class="cart-table__sort-option">
          <span
            class="cart-table__column-name cart-table__column-name--sort"
            (click)="onToggleSort('quantity')"
          >Количество</span>
          <label class="cart-table__sort-label">
            <input class="cart-table__sort-input" type="checkbox" [(ngModel)]="sort.isAsc" (change)="onToggleSort('quantity')">
            <span [class.cart-table__sort-label--active]="sort.isAsc">↑</span>
            <span [class.cart-table__sort-label--active]="!sort.isAsc">↓</span>
          </label>
        </div>
      </th>
      <th><span class="cart-table__column-name">Действие</span></th>
    </tr>
    </thead>
    <tbody>
      <tr
        class="cart-item"
        appHighlight
        *ngFor="let product of cartService.cartProducts | orderBy:sort.key:sort.isAsc; let idx = index;"
        app-cart-item
        [product]="product"
        [index]="idx"
        (remove)="onRemove($event)"
        (increase)="onIncreaseQuantity($event)"
        (decrease)="onDecreaseQuantity($event)">
      ></tr>
      <tr class="cart-item cart-item--total">
        <td></td>
        <td>Всего</td>
        <td class="text-center cart-item__price">{{cartService.totalSum | currency:'RUB':'symbol-narrow'}}</td>
        <td class="text-center cart-item__quantity">
          <span class="cart-item__quantity-text">{{cartService.totalQuantity}}</span>
        </td>
        <td class="text-center cart-item__action">
          <a class="cart-item__button-remove" (click)="onClear()">Очистить</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #emptyCart>
  <p class="cart__empty">
    <span class="cart__empty-title">Корзина пуста</span>
    <span></span>
  </p>
</ng-template>
