<div *ngIf="!cartService.isEmptyCart; else emptyCart">
  <table class="cart-table">
    <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Стоимость</th>
      <th>Количество</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
      <tr
        class="cart-item"
        appHighlight
        *ngFor="let product of cartService.cartProducts; let idx = index;"
        app-cart-item
        [product]="product"
        [index]="idx"
        (remove)="onRemove($event)"
        (increase)="onIncreaseQuantity($event)"
        (decrease)="onDecreaseQuantity($event)">
      ></tr>
      <tr class="cart-item cart-item--total">
        <td></td>
        <td>Всего</td>
        <td class="text-center cart-item__price">{{cartService.totalSum}}</td>
        <td class="text-center cart-item__quantity">
          <span class="cart-item__quantity-text">{{cartService.totalQuantity}}</span>
        </td>
        <td class="text-center cart-item__action">
          <a class="cart-item__button-remove" (click)="onClear()">Очистить</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #emptyCart>
  <p class="cart__empty">
    <span class="cart__empty-title">В корзине нет товаров</span>
    <span></span>
  </p>
</ng-template>
