<div class="product">
  <ul class="product__info info">
    <li class="info__field--title">
      <a class="link" (click)="onViewProduct()">
        <span>{{product.name | uppercase}}</span>
      </a>
    </li>
    <li class="info__field--image">
      <a class="link" (click)="onViewProduct()">
        <div class="info__field--image-wrapper">
          <img [src]="product.imageURL" alt="Product Image">
        </div>
      </a>
    </li>
    <li class="info__field info__field--price">
      <span>{{product.price}}</span><span class="info__field--price-rouble"> ₽</span>
    </li>
    <li class="info__field">
      <span>Категория: </span><span>{{product.category | uppercase}}</span>
    </li>
    <li class="info__field">
      <span>В наличии: </span><span>{{product.isAvailable ? 'ДА' : 'НЕТ'}}</span>
    </li>
  </ul>
  <button
    class="product__button-add-to-cart button-primary"
    (click)="buy.emit(product)"
    [disabled]="!product.isAvailable"
  >В корзину</button>
</div>
