<ul class="product-info info">
  <li class="info-field info-field__title">
    <span>{{name}}</span>
  </li>
  <li class="info-field info-field__description">
    <span>{{description}}</span>
  </li>
  <li class="info-field info-field__price">
    <span>{{price}}</span><span class="info-field__price-rouble"> ₽</span>
  </li>
  <li class="info-field">
    <span>Категория: </span><span>{{category}}</span>
  </li>
  <li class="info-field">
    <span>В наличии: </span><span>{{isAvailable ? 'ДА' : 'НЕТ'}}</span>
  </li>
</ul>
