@import '../../../../styles/main';
$image-gap: 10px;

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__item {
  padding: 5px;
  min-width: 300px;
  &:last-child {
    margin-right: auto;
    margin-left: 4%;
  }
}
